*{
    padding: 0;
    margin: 0;
}
.parent{
    width: 100%;
}
.title,.title1{
    display: inline;
    font-weight: bolder;
}
.title1{
    float: right;
}
.desc{
    padding-top: 10px;
}
.btn-register{
   float: right;
    background-color: rgb(16, 128, 16);
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 3px;
    margin-right: 10px;
}
.time{
    margin-top: 10px;
}
.location{
    margin-top: 10px;
    
}
.price{
    display: inline;   
}
.btn1{
    padding-top: 2.3px;
    padding-bottom: 1.2px;
    padding-left: 7px;
    padding-right: 7px;
    margin-right: 10px;
    font-weight: bolder;
    background-color:darkslategrey;
    border: none;
    color: white;
}
.btn2,.btn3{
    margin-right: 3px;
}
.price1{
    margin-left: 3px;
    font-weight: bold;
    font-size: 17px;
}
.price-area{
    margin: 15px 0px;
    margin-bottom: 17px;
}
.amount{
    display: inline;
    font-size: 17px;
    margin-right: 20px;
}
.paper{
    background-color: rgb(246, 246, 255);
    border: 1px solid gainsboro;
}

